@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);

:root{
    --black: #130f0d;
    --primary: #fd951f;
    --primary-dark: #dd7b0c;
    --white: #f0f0f9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: rgb(185, 153, 105);
}

header{
    display: flex;
    align-items: center;
    height: 50px;
    background: var(--primary);
    position: relative;
}

.return{
    display: flex;
    align-items: center;
    position: absolute;
    left: 50px;
    gap: 20px;
    cursor: pointer;
}

.backImg{
    width: 30px;
}

p{
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}


.titlePage{
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

.album{
    display: flex;
    align-items: center;
    gap: 0.5%;
    padding: 0 10px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    
}

.imgModels{
    display: none;
}

.imgLiked{
    width: 33%;
    height: 300px;
    display: flex;
    cursor: pointer;
    margin-bottom: 10px;
}

.imgLiked > img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all .5s ease;
}

.imgLiked > img:hover{
    transform: scale(1.02);
    overflow: hidden;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(185, 153, 105, 0.5);
}

.headerModal{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background: var(--primary);
    position: absolute;
}

.headerModal > span {
    position: absolute;
    left: 48%;
    cursor: pointer;
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.headerModal .delete--Image{
    position: absolute;
    right: 17%;
    cursor: pointer;
}

.previous--Image{
    position: absolute;
    top: 50%;
    left: 30px;
    height: 80px;
    cursor: pointer;
}

.next--Image{
    position: absolute;
    top: 50%;
    right: 30px;
    height: 80px;
    cursor: pointer;
    transform : rotate(180deg);
}

.dataModal{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.modal--Image{
    width: 50%;
    height: 100vh;
    object-fit: cover;
}

.noPhoto {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 2rem;
    margin-top: 100px;
}