@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);

:root{
    --black: #130f0d;
    --primary: #fd951f;
    --primary-dark: #dd7b0c;
    --white: #f0f0f9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
button,
input
{
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;

    background-color: var(--black);
    color: var(--white);

    display: flex;
    flex-direction: column;
}

main{
    width: 100vw;
}


img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button{
    
    width: 100%;
    height: 50px;
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;
    padding-left: 1rem;

    border: none;
    background: var(--primary);

    
    font-size: 1.5rem;

    cursor: pointer;
    outline: none;
    transition: 0.2s;

}

button > img{
    width: 30px;
    height: auto;
}

button:hover{
    background: var(--primary-dark);
}


.album{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--primary);
    height: 50px;
    outline: none;
    transition: 0.2s;
    cursor: pointer;
    border: none;
    gap: 8px;
}

.album:hover{
   background: var(--primary-dark);

}

.linkIcon{
    width: 24px;
    height: 24px;
}



.image{
    height: 87vh;
    position: relative;
}

.image.fav::after{
    content: '\2605';
    color: var(--primary);

    position: absolute;
    top: 0;
    left: 50px;

    font-size: 3.2rem;
    cursor: pointer;
}

.image.unfav::after{
    content: '\2606';
    color: var(--primary);

    position: absolute;
    top: 0;
    left: 50px;

    font-size: 3.2rem;
    cursor: pointer;
}

.linkAlbum{
    color: var(--white);
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
}
